# Auto detect text files and perform LF normalization
* text=auto

*.java linguist-language=Java

*.html linguist-generated
*.css linguist-generated
*.js linguist-generated

**/*.html linguist-generated
**/*.css linguist-generated
**/*.js linguist-generated

target/** linguist-generated
test-output/** linguist-generated
reports/** linguist-generated
allure-report/** linguist-generated
screenshots/** linguist-generated
