# Auto detect text files and perform LF normalization
* text=auto

*.java linguist-language=Java

*.html linguist-generated=true
*.css linguist-generated=true
*.js linguist-generated=true

**/*.html linguist-generated=true
**/*.css linguist-generated=true
**/*.js linguist-generated=true

target/** linguist-generated=true
test-output/** linguist-generated=true
reports/** linguist-generated=true
allure-report/** linguist-generated=true
screenshots/** linguist-generated=true
